apache-airflow-providers-snowflake
snowflake-connector-python
snowflake-sqlalchemy

boto3
pandas
numpy
pyarrow

sqlalchemy
psycopg2-binary

requests

python-dotenv

dbt-core==1.8.7
dbt-snowflake==1.8.3